<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated retriever -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.pdulvp.retriever.presentation.RetrieverModelWizardID"
            name="%_UI_RetrieverModelWizard_label"
            class="org.pdulvp.retriever.presentation.RetrieverModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RetrieverModelFile.gif">
         <description>%_UI_RetrieverModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated retriever -->
      <editor
            id="org.pdulvp.retriever.presentation.RetrieverEditorID"
            name="%_UI_RetrieverEditor_label"
            icon="icons/full/obj16/RetrieverModelFile.gif"
            extensions="retriever"
            class="org.pdulvp.retriever.presentation.RetrieverEditor"
            contributorClass="org.pdulvp.retriever.presentation.RetrieverActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated retriever -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.pdulvp.retriever.result.presentation.ResultModelWizardID"
            name="%_UI_ResultModelWizard_label"
            class="org.pdulvp.retriever.result.presentation.ResultModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ResultModelFile.gif">
         <description>%_UI_ResultModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated retriever -->
      <editor
            id="org.pdulvp.retriever.result.presentation.ResultEditorID"
            name="%_UI_ResultEditor_label"
            icon="icons/full/obj16/ResultModelFile.gif"
            extensions="result"
            class="org.pdulvp.retriever.result.presentation.ResultEditor"
            contributorClass="org.pdulvp.retriever.result.presentation.ResultActionBarContributor">
      </editor>
   </extension>

</plugin>
