<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.pdulvp.retriever.ui.commands.Fetch"
            id="org.pdulvp.retriever.ui.commands.Fetch"
            name="Fetch">
            
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.pdulvp.retriever.ui.commands.Fetch"
            icon="icons/obj16/fetch.gif">
      </image>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="org.pdulvp.retriever.ui.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      
   <menuContribution
	    locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
	 <toolbar
	       id="com.sample.example.toolbars.sampleToolbar">
	       
         <command commandId="org.pdulvp.retriever.ui.commands.Fetch">
         </command>
	    
	 </toolbar>
	 
	 </menuContribution>
	 
   </extension>
      
   <extension
         point="org.eclipse.ui.views">
         <view
         	id="org.pdulvp.retriever.ui.view"
         	name="Analysis"
			icon="icons/eview16/icon.png"
			category="org.pdulvp.retriever.ui.category"
			class="org.pdulvp.retriever.ui.AnalysisView">
		</view>
		
         <category
         	id="org.pdulvp.retriever.ui.category"
         	name="Retriever">
         </category>
   </extension>
   
  <extension
        id="uiSessionFactory"
        point="org.eclipse.sirius.ui.uiSessionFactory">
     <uiSessionFactory
           class="org.pdulvp.retriever.ui.sirius.UISessionFactory">
     </uiSessionFactory>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
        <category
       		name="Scrapper"
            id="org.pdulvp.retriever.ui.category">
        </category>
     <wizard
           class="org.pdulvp.retriever.ui.NewWizard"
           category="org.pdulvp.retriever.ui.category"
           id="org.pdulvp.retriever.ui.wizard"
           icon="icons/obj16/project.gif"
           name="Scrapping Project">
     </wizard>
  </extension>
  <extension
        id="RetrieverNature"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="org.pdulvp.retriever.ui.RetrieverNature">
        </run>
     </runtime>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/obj16/dot.png"
           id="org.pdulvp.retriever.ui.image1"
           natureId="org.pdulvp.retriever.ui.RetrieverNature">
     </image>
  </extension>
   
</plugin>
